<div class="container">
  <div class="row my-5">
    <h1 class="offset-4">My Closetについて</h1>
  </div>
  <div>
    <p></p>
  </div>
</div>




<div class="row">
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
</div>
