<div class="container">
  <div class="row my-5">
    <h1 class="offset-4"><strong>みんなのCloset</strong></h1>
    <div class="offset-1 mt-3">
      <%= render 'public/searchs/closet_search' %>
    </div>
  </div>

  <%= render 'public/users/closet_index',
    user_number: @user_number,
    spring_all: @spring_all,
    summer_all: @summer_all,
    autumn_all: @autumn_all,
    winter_all: @winter_all,
    other_all: @other_all %>
</div>