<div class="container">
  <div class="row my-5">
    <h1 class="offset-1">新規投稿ページ</h1>
  </div>
    <%= render 'error', obj: @closet %>
    <%= render 'closet_form', closet: @closet %>
  </div>
</div>