<div class="container">
  <div class="row">
    <h1>みんなのCloset</h1>
    <%= render 'public/searchs/closet_search' %>
  </div>

    <%= render 'public/users/closet_index',
     spring_all: @spring_all,
     summer_all: @summer_all,
     autumn_all: @autumn_all,
     winter_all: @winter_all,
     other_all: @other_all %>

</div>