@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-tabs .nav-item{
  width: 19%;
  margin: 1px;
  padding: 0.5em 1.5em;
  border-radius: 0.5em 0.5em 0 0;
}

#tab-contents .tab{
  display: flex;
  flex-wrap: wrap;
}

.spring{
  background-color: #efd7d3;
}

.summer{
  background-color: #e8cdc6;
}

.autumn{
  background-color: #ded3c2;
}

.winter{
  background-color: #caddde;
}

.other{
  background-color:#cbc8c2;
}

.post{
  width: 260px;
  height: 380px;
  position: relative;
  background-color: #fffaf0;
  margin: 3px 3px;
}

.post-image{
  width: 250px;
  height: 250px;
  position: absolute;
  margin: 5px;
}

.post-tag{
  position: absolute;
  margin: 270px 20px 0px;
}

.post-fav{
  position: absolute;
  left: 20px;
  bottom: 10px;
}

.post-comm{
  position: absolute;
  right: 20px;
  bottom: 10px;
}