<div class="container">
  <div class="row my-5">
    <h1 class="offset-4"><%= @user.name %>のいいね一覧</h1>
  </div>
  <%= render 'admin/closets/closet_index',
   spring_all: @spring_all,
   summer_all: @summer_all,
   autumn_all: @autumn_all,
   winter_all: @winter_all,
   other_all: @other_all %>
</div>