<%= flash[:notice] %>
<div class="container">
  <div class="row my-5">
    <h1 class="offset-4">会員一覧</h1>
    <div class="offset-1 mt-3">
      <%= render 'admin/searchs/user_search' %>
    </div>
  </div>
  <%= render 'admin/users/user_index', users: @users %>
</div>