<div class="container">
  <div class="row">
    <div class="col-12 justify-content-censter text-center">
      <div class="my-5">
        <h1><strong>退会確認</strong></h1>
      </div>
      <div class="mb-3">
        <h5><strong><%= @user.name %></strong>を退会して宜しいですか？</h5>
      </div>
      <div>
      <%= link_to "退会しない", admin_user_path(@user.id) %> &emsp;
      <%= link_to "退会させる", quit_admin_user_path(@user.id), method: :patch %>
      </div>
    </div>
  </div>
</div>