<%= flash[:notice] %>
<div class="container">
  <div class="row my-5">
    <% if current_user == @user %>
      <h1 class="offset-4"><strong>My Closet</strong></h1>
　    <%= link_to "新規投稿", new_closet_path, class:"ml-5 btn btn-warning rounded-pill h-50 btn-lg" %>
    <% else %>
      <h1 class="offset-3"><strong><%= @user.name %> &nbsp; さんのCloset</strong></h1>
    <% end %>
  </div>
  <!--<div class="row">-->
   <%= render 'closet_index',
     user_number: @user_number,
     spring_all: @spring_all,
     summer_all: @summer_all,
     autumn_all: @autumn_all,
     winter_all: @winter_all,
     other_all: @other_all %>
　<!--</div>-->
</div>