<div class="container">
  <div class="row my-5">
    <h1 class="offset-4"><strong>いいね一覧</strong></h1>
  </div>
    <%= render 'closet_index',
     spring_all: @spring_all,
     summer_all: @summer_all,
     autumn_all: @autumn_all,
     winter_all: @winter_all,
     other_all: @other_all %>
</div>
