<div class="container-fluid py-4 mt-5 mb-0 text-center" style="background-color:#5B5B5B; position: absolute;">
  <%= link_to image_tag('logo.png', width: 75, height: 55), root_path %>
  <p class="mt-1" style="color:#DBDBDB;">服を管理するサイト<p>
</div>